.{
  padding-bottom:40px ;
}.skate {
  width: 68px;
  height: 30px;
  color: white;
}
.iconSkate {
  color: rgb(247, 247, 247);
}
.bottonNav {
  width: 95px;
  padding: 8px;
  color: aliceblue;
  border-radius: 15%;
}

.bottonNav:hover {
  cursor: pointer;
  border-bottom: 1px solid white;
  border-top: 1px solid white;

  /* una opcion que tambien me gusto  comentando linea 18 y19  */
  /*  background-color: aliceblue ;
  opacity: 100%;
  color: black;  */
}
.cartContainer {
  color: white;
  padding: 6px 12px;
  border-radius: 15%;
}
.cartContainer:hover {
  cursor: pointer;
  border-bottom: 1px solid rgb(255, 255, 255);
  border-top: 1px solid rgb(255, 255, 255);
}
