.skate {
  width: 60px;
  height: 30px;
  color: white;
}
.iconSkate {
  color: aliceblue;
}
.bottonNav {
  width: 95px;
  padding: 8px;
  color: aliceblue;
  border-radius: 15%;
}

.bottonNav:hover {
  cursor: pointer;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}
.cart {
  width: 60px;
  height: 30px;
  color: white;
}
.cartContainer {
  padding: 6px 12px;
  border-radius: 15%;
}
.cartContainer:hover {
  cursor: pointer;
  border-bottom: 2px solid rgba(17, 197, 26, 0.342);
  border-top: 2px solid rgba(17, 197, 26, 0.342);
}
